body{
    background-color: rgb(6, 5, 5);
}
.cv{
    position: absolute;
    margin: 11px;
    top: -26px;
    left: 170px;
    padding: 35vh;
    
}
.cv2{
    position: absolute;
    background-position: top;
    height: calc(72.3vh - 80px);
    z-index: 11;
    left: 40px;
    top: 40px;
    box-shadow: 0 0 8px #dfdfdf;
}
 p{
    margin: 15px 0 28px;
    font-size: 16px;
    line-height: 35px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
 }
 h1 {
    font-size: 51px;
    line-height: 62px;
    font-weight: 700;
    margin: 18px 0 10px;
    position: relative;
    padding-left: 70px;
    color: #ffffff;
    text-transform: uppercase;
 }
  
h1:before{
    content: "";
    position: absolute;
    left: 0;
    top: 29px;
    height: 4px;
    width: 40px;
    border-radius: 40px;
    border: 1px solid #ffb400;
    background-color: #ffb400;

}
.btn{
    border:1px solid #ffb400;
    font-size: 16px;
    color: #fff;
    transition: all .25s ease-in-out;
    text-transform: uppercase;
    padding:16px 70px 16px 35px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    line-height: 1.4;
    border-radius: 35px;
}
.btn:hover{
    background-color: #ffb400;
}
span{
    color: #fff;
    display: inline-block;
}
.cv3{
    position: fixed;
    height: 200%;
    width: 100%;
    transform: rotate(-15deg);
    left: -83%;
    top: -50%;
    background-color: #ffb400;
}
